{
    "presets": [
      ["@babel/preset-env", {
        "debug": false,
        "modules": false,
        "useBuiltIns": false
      }]
    ],
    "plugins": [
      "@babel/syntax-dynamic-import",
      ["@babel/plugin-transform-runtime", {
        "regenerator": true
      }],
      [
        "@babel/plugin-proposal-class-properties",
        {
          "loose": true
        }
      ]
    ]
  }